<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/dayByDay.css">
    <title>Cash Saving App</title>
</head>
<body>
    <!--Nav Bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand cashSave" href="../index.html">Cash Save!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Directions<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Porfolio<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Theme
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Money Theme (current)</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            </ul>
            </div>
            </nav>
            <!--Main Body-->
            <div class="container daySave">
            <div class="row">

              <div class="col-lg-12 quote">

              </div>

          </div>
            <div class="row">

              <div class="col-md-2 date">Current Date</div>

              <div class="col-md-10 time"></div>

            </div>
            <div class="row">

              <div class="col-md-12 calc">Day by Day Money Income Calculator</div>

            </div>
            <div class="row Income">

              <div class="col-md-3 incomeTag">Income</div>

              <div class="col-md-9"></div>

            </div>
            <div class="row">

              <div class="col-md-4">
                Hours Work <input type="text" class="hoursWorked">
              </div>
              <div class="col-md-4">
                Hourly Rate <input type="text" class="hourlyRate" placeholder="$">
              </div>
              <div class="col-md-4">
                Tips (if collected) <input type="text" class="tips" placeholder="$">
              </div>

            </div>
            <div class="row dailyExpenses">

              <div class="col-md-3 expenseTag">Expenses</div>

              <div class="col-md-9"></div>

            </div>
            <div class="row">

              <div class="col-md-4 food">
                Food Expenses <input type="text" class="foodExpense" placeholder="$">
              </div>

              <div class="col-md-4 bills">
                Bills Paid <input type="text" class="billsPaid" placeholder="$">
              </div>
              <div class="col-md-4 other">
                Other Expenses <input type="text" class="otherExpense" placeholder="$">
              </div>
            </div>
              <div class="row">

                <div class="col-md-10"></div>

                <div class="col-md-2 submit">

                  <button class="calcButton" type="submit">Calculate</button>

                </div>

              </div>
              <div class="row">

                <div class="col-md-4 results">Daily Income</div>

                <div class="col-md-4 results">Yearly Income</div>

                <div class="col-md-4 results">Portfolio Value</div>

              </div>
                <div class="row">

                  <div class="col-md-4 results dailyIncome">$</div>

                  <div class="col-md-4 results yearlyIncome">$</div>

                  <div class="col-md-4 results portfolio">$</div>

                </div>
                <div class="row">

                    <div class="col-lg-12 mainWrap">

                        copyright

                    </div>

                </div>
            </div>
            <!--Footer-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark footer"></nav>
                
            <script src="../assets/jquery-3.4.1.min.js"></script>
            <script src="../assets/bootstrap-4.4.1.min.js"></script>
             <script src="../assets/js/script.js"></script>
             <script src="../assets/js/dayByDay.js"></script>
</body>
</html>